{% load skill_tags %}

{% if skill %}
    {% for i in skill %}
        <section>
            <a class="btn btn-app bg-purple">
              <span class="badge bg-red">{{ i.endorse_count }}</span>{{ i.sub_skill }}
            </a>
            <div class="col-md-5 pull-right" style="line-height:20px;">
                <div class="btn-group">
                <button type="button" class="btn btn-primary" onclick="DeleteSkill({{ i.id }});">Delete</button>
                <div class="btn-group">
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    Ask for Review <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                      {% for j in manages %}
                            <li><a onclick="Review({{ j.id }},'{{ i.sub_skill }}')"> {{ j.first_name }} </a></li>
                      {% endfor %}
                  </ul>
                </div>
                <span style="font-size:35px;color:orange;padding-left:20px;"><i class="fa fa-star"></i></span>{{ i.avg_skill_rate }}
                </div>
            </div>
            {#{% get_comments i as comm %}#}
            {% with comm=i.sub_skill.comments.all %}
            {% if comm %}
                        <div class='col-md-12'>
                          <div class="carousel slide" data-ride="carousel" id="quote-carousel{{ forloop.counter }}">
                            <!-- Bottom Carousel Indicators -->
                            <ol class="carousel-indicators" style="display:none;">
                              <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                              <li data-target="#quote-carousel" data-slide-to="1"></li>
                              <li data-target="#quote-carousel" data-slide-to="2"></li>
                            </ol>
                            
                            <!-- Carousel Slides / Quotes -->
                            <div class="carousel-inner">
                              {% for m in comm %}
                              <!-- Quote 1 -->
                              <div class="item{% if forloop.first %} active{% endif %}">
                                <blockquote>
                                  <div class="row">
                                    <div class="col-sm-3 text-center">
                                      <img class="img-circle" src="http://www.reactiongifs.com/r/overbite.gif" style="width: 80px;height:80px;">
                                    </div>
                                    <div class="col-sm-9 text-center">
                                      <p>{{ m.comment }}</p>
                                      <small>{{ m.added_by }} <span class="text-info">[ {{ m.project_name }} ]</span></small>
                                    </div>
                                  </div>
                                </blockquote>
                              </div>
                              {% endfor %}
                            </div><!-- end of carosel inner -->
                            
                            <!-- Carousel Buttons Next/Prev -->
                            <a data-slide="prev" href="#quote-carousel{{ forloop.counter }}" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                            <a data-slide="next" href="#quote-carousel{{ forloop.counter }}" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                          </div><!-- end of carosel slide -->
                        </div> <!-- end of col-md-12 -->

          {% endif %}
          {% endwith %}      

        </section>
    <hr><br>
    {% endfor %}
{% endif %}
