{% extends "base.html" %}
{% block titles %}Profile{% endblock %}
      {% block header_notifications %}

      <script>
          function showreqAll(){
            $("#all_requests").toggle();
            $("#review_the_request").hide();
            $("#request_notify").hide();
          }

/*          function showRateSection(name,skill,mainskill){
            //console.log(name,skill,mainskill);
            alert(name,skill,mainskill);
            $("#request_notify").show();
            $("#all_requests").hide();
            $("#message").html(name+" asks for a review request in "+skill);
            $("#review_the_request").show();    
          }*/

        function rateMe(){
          alert("check if all the criterias are rated!");
        }

      </script>
              <!-- Messages: style can be found in dropdown.less-->
               <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-success" id="notify_count1"></span>
                </a>

                <ul class="dropdown-menu" id="renderNotifications"></ul>

              </li> 
      {% endblock header_notifications %}

{% block base_content %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">

      <div class="row">
          <div class="col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-xs-6">
                        <img src="/static/dist/img/user1-128x128.jpg" alt="" class="img-circle img-responsive" />
                    </div>
                    <div class="col-sm-4 col-md-4" style="padding-left:10px;border-right: 1px solid #fff;">
                        <h3><i class="fa fa-user-secret"></i> {{ fname }} {{ lname }}</h3>
                        <p class="text-info">
                            <!--<i class="fa fa-graduation-cap"></i>Jr.Software Engineer
                            <br />-->
                            <i class="fa fa-envelope"></i> {{ email }}
                            <!--<br />
                            <i class="fa fa-barcode"></i> Employee ID : #5215-->
                        </p>

                    </div>
                    <div class="col-sm-6 col-md-6 text-center" style="padding-left:20px;">
                        <BLOCKQUOTE><p class="lead text-success">"I'm looking forward to this year's reunion and catching up with everyone."</p></BLOCKQUOTE>

                      <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                      <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
                      <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                      <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                    </div>                                       
                </div>
            </div>
      </div>
    </div>


{% if totalcount <= 0 %}
    <div class="alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><i class="icon fa fa-warning"></i> Alert!</h4>
      You have not received any requests yet.
    </div>
{% else %}

<!-- Main content -->
        <section id="all_requests">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Requests Received</h3>          
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus text-primary"></i></button>
                    <!-- <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times text-primary"></i></button> -->
                  </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
<!--                   <div class="mailbox-controls">
                    <!-- Check all button -->
                    <!--<button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
                    <div class="btn-group">
                      <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                    </div><!-- /.btn-group -->
                    <!--<div class="pull-right">
                      1-50/{{ totalcount }}
                      <div class="btn-group">
                        <button class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                      </div><!-- /.btn-group -->
                    <!--</div><!-- /.pull-right -->
                  <!--</div> -->
                  <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                      <tbody>
                        {% for uinfo in userinfo%}
                        <tr>
                          <!-- <td><input type="checkbox" /></td> -->
                          <td class="mailbox-star"><a href="#">
                            {% if uinfo.status == '1' %}
                              <i class="fa fa-star text-yellow"></i>
                            {% else %}
                              <i class="fa fa-star-o text-yellow"></i>
                            {% endif %}
                          </a></td>
                          <td class="mailbox-name">
                            {% if uinfo.status == '0' %}
                            <a href="{% url 'getcriteria' uinfo.reqSubSkill %}">{{ uinfo.reqUserName }}</a>
                            {% else %}
                            <a href="">{{ uinfo.reqUserName }}</a>
                            {% endif %}

                          </td>
                          <td class="mailbox-subject"><b>Ask for a review</b> - in his {{ uinfo.mskill }} skill {{ uinfo.skill }}</td>
                          <td class="mailbox-date">{{ uinfo.requestedon }}<!-- 2 days ago --></td>
                        </tr>
<!--                         <tr>
                          <td><input type="checkbox" /></td>
                          <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                          <td class="mailbox-name"><a href="">Alexander Pierce</a></td>
                          <td class="mailbox-subject"><b>Ask for a review</b> - in his management skill communication</td>
                          <td class="mailbox-date">2 days ago</td>
                        </tr>    -->           
                        {% endfor %}  
                      </tbody>
                    </table><!-- /.table -->
                  </div><!-- /.mail-box-messages -->
                </div><!-- /.box-body -->
                <div class="box-footer no-padding">
<!--                   <div class="mailbox-controls">
                    <!-- Check all button -->
                    <!--<button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>                    
                    <div class="btn-group">
                      <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                    </div><!-- /.btn-group -->
                    <!--<div class="pull-right">
                      1-50/{{ totalcount }}
                      <div class="btn-group">
                        <button class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                      </div><!-- /.btn-group -->
                    <!--</div><!-- /.pull-right -->
                  <!--</div> -->
                </div>
              </div><!-- /. box -->
            </div><!-- /.col -->
          </div> <!-- row --> 
        </section>  

{% endif %}


        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

<div class="clearfix"></div>



<!-- footer -->
{% endblock base_content %}
{% block extra_js %}
    <!-- STAR Rating -->
    <script src="/static/dist/js/starr.js" type="text/javascript"></script>
{% endblock extra_js %}  

{% block extra_js_definition %}
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
      $(function() {
          return $(".starrr").starrr();
      });
      $( document ).ready(function() {

/*        for(i=1;i<={{ totalcriteria }};i++){
          ratingChanger(i);
        }*/


/*        function ratingChanger(i){
          $('#stars'+i).on('starrr:change', function(e, value){
                      $('#count'+i).html(value);
                      //var aa = $('#stars'+i).data("flag");
                      var cid = $('#stars'+i).data("cid");
                      //alert(aa);
                      $('#stars'+i).data('flag', '1');
                      //alert(value+" {{ user.id }} "+ cid + " {{ userskillid }}");
                      //write ajax code here for inserting the criteria rate into the model ManagerCriteriaRaing
                      //here we can get userskillid,each criteria id,manager id
                      $.ajax({
                          type: 'POST',
                          url: "{% url 'starrating' %}",
                          //data: JSON.stringify({ jewellerId: filter, locale: 'en-US' }),
                          //data: '{"userid":"' + {{ user.id }} + '","starcount":"'+ value +'","criteriaid":"' + cid + '","skillid":"'+ {{ userskillid }} +'"}',
                          dataType:'json',
                          data: {'userid':{{ user.id }},'starcount':value,'criteriaid':cid,'skillid':{{ userskillid }}},
                          success : function(data){
                                alert("Rated Successfully");
                          },
                          error :function(){
                              alert("Failed");
                          }
                      });
          });
        }
*/
          var m_notification = function(){
                    $.ajax({
                      method:'get',
                      dataType:'json',
                      url:"{% url 'notifycount' %}",
                      success:function(data){
                        $("#renderNotifications").html(data.htmldata)
                        $("#notify_count1").html(data.count);
                      }
                    });
                  }
                  setInterval(m_notification,2000);

      });

    </script>
{% endblock extra_js_definition %}    

