{% extends "base.html" %}
{% block titles %}Colleagues{% endblock %}
{% block base_content %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">

              <!-- Colleagues list -->
              <div class="row">
                <div class="col-md-12">
                  <!-- USERS LIST -->
                  <div class="box box-info">
                    <div class="box-header with-border">
                      <h3 class="box-title fa-space">My Colleagues</h3>
                    <!--<input type="search" class="form-control" placeholder="Search" aria-controls="example1">-->

                      <div class="box-tools pull-right">
                        <span class="label label-danger">{{ numbers }} members</span>
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        
                      </div>
                    </div><!-- /.box-header -->

                  {% if all_users %}



                    <div class="box-body no-padding">
                      <ul class="users-list clearfix">
                        {% for evt in all_users %}

                            <li>
                              <img src="/static/dist/img/user1-128x128.jpg" alt="User Image"/>
                              <a class="users-list-name" href="{% url 'friends' evt.pk %}">{{ evt.first_name }}</a>
                            </li>
                         {% endfor %}

                      </ul><!-- /.users-list -->

                    </div><!-- /.box-body -->
                  {% endif %}
                    <div class="box-footer text-center">
                     <!--<a href="javascript::" class="uppercase">View All Colleagues</a> -->

                    </div><!-- /.box-footer -->
                  </div><!--/.box -->
                </div><!-- /.col -->
              </div> <!-- row -->

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->


<!-- footer -->
{% endblock base_content %}

{% block extra_js %}{% endblock extra_js %}  

{% block extra_js_definition %}
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
{% endblock extra_js_definition %}    
