{% if f_subskill %}
                      {% for i in f_subskill %}

                <hr>
                 <section>
                        <a class="btn btn-app bg-purple">
                          <span class="badge bg-red">{{ i.endorse_count }}</span>{{ i.sub_skill }}
                        </a>
                     <div class="col-md-3 pull-right">
                       <div class="btn-group">
                          <button type="button" class="btn btn-default" onclick="Endorse('{{ f_first_name }}','{{ i.sub_skill }}');"><i class="fa fa-plus"></i></button>
                          <button type="button" class="btn btn-default"><i class="fa fa-minus"></i></button>
                          <span style="font-size:35px;color:orange;line-height:10px;padding-left:32px;"><i class="fa fa-star"></i></span>3.5
                       </div>
                    </div>
                 </section>

{% endfor %}
                  {% endif %}