{% extends "base.html" %}
{% block titles %}Profile{% endblock %}
{% block base_content %}

      <!-- Content Wrapper. Contains page content -->   
      <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

          <div class="row">
              <div class="col-md-12">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-xs-6">
                            <img src="/static/dist/img/user1-128x128.jpg" alt="" class="img-circle img-responsive" />
                        </div>
                        <div class="col-sm-4 col-md-4" style="padding-left:10px;border-right: 1px solid #fff;">
                            <h3><i class="fa fa-user-secret"></i> {{ f_first_name }} {{ f_last_name }} </h3>
                            <p class="text-info">
                                <!--<i class="fa fa-graduation-cap"></i>Jr.Software Engineer
                                <br />-->
                                <i class="fa fa-envelope"></i> {{ f_email }}
                                <!--<br />
                                <i class="fa fa-barcode"></i> Employee ID : #5215-->
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-6 text-center" style="padding-left:20px;">
                            <BLOCKQUOTE><p class="lead text-success">"I'm looking forward to this year's reunion and catching up with everyone."</p></BLOCKQUOTE>
                        <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
          </div>

              <!-- solid sales graph -->
              <div class="box box-solid bg-teal-gradient">
                <div class="box-footer no-border">
                  <div class="row">
                    
                    <div class="col-xs-3 text-center" style="border-right: 1px solid #f4f4f4">
                      <input type="text" class="knob" data-readonly="true" value="{{ ratings }}" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">Technical</div>
                    </div><!-- ./col -->

                    <div class="col-xs-3 text-center" style="border-right: 1px solid #f4f4f4">
                      <input type="text" class="knob" data-readonly="true" value="0" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">Management</div>
                    </div><!-- ./col -->

                    <div class="col-xs-3 text-center" style="border-right: 1px solid #f4f4f4">
                      <input type="text" class="knob" data-readonly="true" value="0" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">Arts</div>
                    </div><!-- ./col -->

                    <div class="col-xs-3 text-center" style="border-right: 1px solid #f4f4f4">
                      <input type="text" class="knob" data-readonly="true" value="0" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">Sports</div>
                    </div><!-- ./col -->

                  </div><!-- /.row -->
                </div><!-- /.box-footer -->
              </div><!-- /.box -->


<!-- START CUSTOM TABS -->
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <!-- Custom Tabs -->
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_1" data-toggle="tab">Technical</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_1">
{% if f_subskill %}
    {% for i in f_subskill %}

                <hr>
                 <section>
                        <a class="btn btn-app bg-purple">
                          <span class="badge bg-red" id="ecount{{ forloop.counter }}">{{ i.endorse_count }}</span>{{ i.sub_skill }}
                        </a>
                     <div class="col-md-3 pull-right">
                       <div class="btn-group">
                          <button type="button" class="btn btn-default"  onclick="Endorse('{{ f_first_name }}','{{ i.sub_skill }}','{{ forloop.counter }}','add')" ><i class="fa fa-plus"></i></button>
                          <button type="button" class="btn btn-default" onclick="Endorse('{{ f_first_name }}','{{ i.sub_skill }}','{{ forloop.counter }}','minus')"><i class="fa fa-minus"></i></button>
                          <span style="font-size:35px;color:orange;line-height:10px;padding-left:32px;"><i class="fa fa-star"></i></span>{{ i.avg_skill_rate }}
                       </div>
                    </div>
                 </section>

    {% endfor %}
{% endif %}
<div class="clearfix"></div><hr>
                  </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
              </div><!-- nav-tabs-custom -->
            </div><!-- /.col -->
          </div> <!-- /.row -->
          <!-- END CUSTOM TABS -->


        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->


<!-- footer -->
{% endblock base_content %}

{% block extra_js %}{% endblock extra_js %}

{% block extra_js_definition %}
<script>
        function Endorse(fname,fsubskill,lcounter,operation)
        {
            //alert(lcounter);
            console.log(operation)
            $.ajax({
              data  :  {'fname':fname,'fsubskill':fsubskill,'ops':operation },
              url    : "{% url 'endorse' %}",
              method : "POST",
              success : function(data){
                  console.log(data.endorsecount);
                  $("#ecount"+lcounter).html(data.endorsecount);

              },
                error: function(data) {
                   alert("You have only one chanse");
               }


            });

        }




</script>>


{% endblock extra_js_definition %}
