{% extends "base.html" %}
{% load skill_tags %}
{% block titles %}Profile{% endblock %}
{% block base_content %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

          <div class="row">
              <div class="col-md-12">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-xs-6">
                            <img src="/static/dist/img/user1-128x128.jpg" alt="" class="img-circle img-responsive" />
                        </div>
                        <div class="col-sm-4 col-md-4" style="padding-left:10px;border-right: 1px solid #fff;">
                            <h3><i class="fa fa-user-secret"></i> {{ fname }} {{ lname }} </h3>
                            <p class="text-info">
                                <!--<i class="fa fa-graduation-cap"></i>Jr.Software Engineer -->
                                <!--<br />-->
                                <i class="fa fa-envelope"></i> {{ email }}
                                <!--<br />
                                <i class="fa fa-barcode"></i> Employee ID : #5215 -->
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-6 text-center" style="padding-left:20px;">
                            <BLOCKQUOTE><p class="lead text-success">"I'm looking forward to this year's reunion and catching up with everyone."</p></BLOCKQUOTE>
                        <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                        </div>                                       
                    </div>
                </div>
            </div>
          </div>

              <!-- solid sales graph -->
              <div class="box box-solid bg-teal-gradient">
                <div class="box-footer no-border">
                  <div class="row">
                  
                    <div class="col-xs-3 text-center" style="border-right: 1px solid #f4f4f4">
                      <input type="text" class="knob" data-readonly="true" value="{{ ratings }}" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">Technical</div>
                    </div><!-- ./col -->

                    <div class="col-xs-3 text-center" style="border-right: 1px solid #f4f4f4">
                      <input type="text" class="knob" data-readonly="true" value="0" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">Management</div>
                    </div><!-- ./col -->

                    <div class="col-xs-3 text-center" style="border-right: 1px solid #f4f4f4">
                      <input type="text" class="knob" data-readonly="true" value="0" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">Arts</div>
                    </div><!-- ./col -->

                    <div class="col-xs-3 text-center" style="border-right: 1px solid #f4f4f4">
                      <input type="text" class="knob" data-readonly="true" value="0" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                      <div class="knob-label">Sports</div>
                    </div><!-- ./col -->

                  </div><!-- /.row -->
                </div><!-- /.box-footer -->
              </div><!-- /.box -->


<!-- START CUSTOM TABS -->
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <!-- Custom Tabs -->
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_1" data-toggle="tab">Technical</a></li>
                </ul>
                <hr>


<div id="displayskill">

{% if skill %}
    {% for i in skill %}
        <section>
            <a class="btn btn-app bg-purple">
              <span class="badge bg-red">{{ i.endorse_count }}</span>{{ i.sub_skill }}
            </a>
            <div class="col-md-5 pull-right" style="line-height:20px;">
                <div class="btn-group">
                <button type="button" class="btn btn-primary" onclick="DeleteSkill({{ i.id }});">Delete</button>
                <div class="btn-group">
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    Ask for Review <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                      {% for j in manages %}
                            <li><a onclick="Review({{ j.id }},'{{ i.sub_skill }}')"> {{ j.first_name }} </a></li>
                      {% endfor %}
                  </ul>
                </div>
                <span style="font-size:35px;color:orange;padding-left:20px;"><i class="fa fa-star"></i></span>{{ i.avg_skill_rate }}
                </div>
            </div>
            {#{% get_comments i as comm %}#}
            {% with comm=i.sub_skill.comments.all %}
            {% if comm %}
                        <div class='col-md-12'>
                          <div class="carousel slide" data-ride="carousel" id="quote-carousel{{ forloop.counter }}">
                            <!-- Bottom Carousel Indicators -->
                            <ol class="carousel-indicators" style="display:none;">
                              <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                              <li data-target="#quote-carousel" data-slide-to="1"></li>
                              <li data-target="#quote-carousel" data-slide-to="2"></li>
                            </ol>
                            
                            <!-- Carousel Slides / Quotes -->
                            <div class="carousel-inner">
                              {% for m in comm %}
                              <!-- Quote 1 -->
                              <div class="item{% if forloop.first %} active{% endif %}">
                                <blockquote>
                                  <div class="row">
                                    <div class="col-sm-3 text-center">
                                      <img class="img-circle" src="http://www.reactiongifs.com/r/overbite.gif" style="width: 80px;height:80px;">
                                    </div>
                                    <div class="col-sm-9 text-center">
                                      <p>{{ m.comment }}</p>
                                      <small>{{ m.added_by }} <span class="text-info">[ {{ m.project_name }} ]</span></small>
                                    </div>
                                  </div>
                                </blockquote>
                              </div>
                              {% endfor %}
                            </div><!-- end of carosel inner -->
                            
                            <!-- Carousel Buttons Next/Prev -->
                            <a data-slide="prev" href="#quote-carousel{{ forloop.counter }}" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                            <a data-slide="next" href="#quote-carousel{{ forloop.counter }}" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                          </div><!-- end of carosel slide -->
                        </div> <!-- end of col-md-12 -->

          {% endif %}
          {% endwith %}      

        </section>
    <hr><br>
    {% endfor %}
{% endif %}

</div><!-- end of displayskill -->



<div class="clearfix"></div><hr>

                  <div class="alert alert-success" style="display: none;">
                   <i class="icon fa fa-check"></i>New skill added!
                  </div>
                   <form action="{%  url 'addskill' %}" method="post" id="skillform"> {% csrf_token %}
                      <div class="input-group input-group-lg">
                            <input id="skill-text" name="skill-text" type="text" class="form-control" placeholder="Add new skill">

                            <span class="input-group-btn">
                              <button class="btn btn-info btn-flat" onclick="AddSkill();" type="button"><i class="fa fa-plus"></i> Add Skill</button>
                            </span>
                      </div>
                    </form>

                  </div><!-- /.tab-pane -->


                <!-- /.tab-content -->
              <!-- nav-tabs-custom -->
            <!-- /.col -->
           <!-- /.row -->
          <!-- END CUSTOM TABS -->


        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->



<!-- footer -->
{% endblock base_content %}

{% block extra_js %}{% endblock extra_js %}

{% block extra_js_definition %}
    <script>
      $.widget.bridge('uibutton', $.ui.button);

      /*----------------------------------------------------------------
             Ajax for Deleting a particular Skill
      ------------------------------------------------------------------*/

      function DeleteSkill(skillid)
      {
          $.ajax({
              data  :  {'userskill_id':skillid},
              url    : "{% url 'deleteskill' %}",
              method : "POST",
              success : function(data){
                     alert(data.status)
                     GetSkill();
                     //alert("Your Skill Successfully Deleted");

              }
          });

      }
/*      ---------------------------------------------------------------
               Function for Sending a AJAX REQUEST of Notification
        ---------------------------------------------------------------*/


      function Review(pk,name)
      {
          //console.log(pk,"**********",name,"@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@");
          var mgr = pk
          var skname = name
          $.ajax({
              data  : {'mgr':mgr,'sname':skname},
              url    : "{% url 'sendnotification' %}",
              method : "POST",
              success : function(data){

                    alert("Notification Successfully send");
              },
              error :function(){
                  alert("You have already send a request for the same");
              }

          });
      }


 /*      ---------------------------------------------------------------
                Function for Getting available Skills
         ---------------------------------------------------------------*/
      function GetSkill()
          {
              var data = $("#skillform").serialize();

              $.ajax({
                  data: data,
                  method:"POST",
                  url:"{% url 'skillview' %}",
                  success: function(data){
                      //console.log(data.message)
                    $("#displayskill").html(data.message);
                  }
              });
          }

 /*      ---------------------------------------------------------------
                Function for Adding a Skill
         ---------------------------------------------------------------*/


      function AddSkill()
      {
          var data = $("#skillform").serialize();
          $.ajax({
                 data: data,
                 method: "POST",
                 url: "{% url 'addskill' %}",
                 success: function(data){
                      $(".alert-success").css({'display':'block'}).fadeOut(10000)
                      $("#skill-text").val("");
                      GetSkill();

                 },
                 error: function(){
                     alert("Skill Insertion Failed");
                     $("#skill-text").val("");
                 }

        });

      }



      $(function() {

          var tags = [];
          $( "#skill-text" ).autocomplete({
             //alert( request.term);
            source: function( request, response ) {
                   var k = request.term;
                $.ajax(
                        {
                            method  : 'GET',
                            url     : "{% url 'suggestion' %}",
                            data    : {'k':k},
                            success : function(data){
                                tags = data.skills
                            }
                        }
                );
                 console.log(tags);
                 var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
                  response( $.grep( tags, function( item ){
                  return matcher.test( item );
          }) );
      }
});

});
</script>
{% endblock extra_js_definition %}