{% extends "base.html" %}
{% block titles %}Profile{% endblock %}
      {% block header_notifications %}
<style>
#success{ display: none; }
#all_requests{ display: none;}
#review_the_request{ display: none; }
</style>

      <script>
          function showreqAll(){
            $("#all_requests").toggle();
            $("#review_the_request").hide();
            $("#request_notify").hide();
          }

/*          function showRateSection(name,skill,mainskill){
            //console.log(name,skill,mainskill);
            alert(name,skill,mainskill);
            $("#request_notify").show();
            $("#message").html(name+" asks for a review request in "+skill);
            $("#review_the_request").show();*/
                    /*$.ajax({
                      method:'get',
                      dataType:'json',
                      url:'"/skills/criteria/"+mskill+"',
                      success:function(data){
                        console.log("Data fetched\n"+data);
                      },
                      error:function(data){
                        console.log("Not fetched");
                      }
                    });          
          }*/  

      </script>
              <!-- Messages: style can be found in dropdown.less-->
               <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-success" id="notify_count1"></span>
                </a>

                <ul class="dropdown-menu" id="renderNotifications"></ul>

              </li> 
      {% endblock header_notifications %}

{% block base_content %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">

      <div class="row">
          <div class="col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-xs-6">
                        <img src="/static/dist/img/user1-128x128.jpg" alt="" class="img-circle img-responsive" />
                    </div>
                    <div class="col-sm-4 col-md-4" style="padding-left:10px;border-right: 1px solid #fff;">
                        <h3><i class="fa fa-user-secret"></i> {{ fname }} {{ lname }}</h3>
                        <p class="text-info">
                            <!--<i class="fa fa-graduation-cap"></i>Jr.Software Engineer
                            <br />-->
                            <i class="fa fa-envelope"></i> {{ email }}
                            <!--<br />
                            <i class="fa fa-barcode"></i> Employee ID : #5215-->
                        </p>

                    </div>
                    <div class="col-sm-6 col-md-6 text-center" style="padding-left:20px;">
                        <BLOCKQUOTE><p class="lead text-success">"I'm looking forward to this year's reunion and catching up with everyone."</p></BLOCKQUOTE>

                      <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                      <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
                      <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                      <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                    </div>                                       
                </div>
            </div>
      </div>
    </div>

            <div class="alert alert-info alert-dismissable" id="success">
              <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
              <h4><i class="icon fa fa-hand-o-up"></i> Request!</h4>
              <div id="message">Joshwin asks for a review request in his technical skill <strong>Django</strong>.</div>
            </div>




<!-- Main content -->
        <section id="all_requests">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Requests Received</h3>          
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus text-primary"></i></button>
                    <!-- <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times text-primary"></i></button> -->
                  </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                  <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
                    <div class="btn-group">
                      <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                      <button class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                      <button class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                    </div><!-- /.btn-group -->
                    <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                    <div class="pull-right">
                      1-50/200
                      <div class="btn-group">
                        <button class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                      </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                  </div>
                  <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                      <tbody>
                        <tr>
                          <td><input type="checkbox" /></td>
                          <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                          <td class="mailbox-name"><a href="">Alexander Pierce</a></td>
                          <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
                          <td class="mailbox-attachment"></td>
                          <td class="mailbox-date">5 mins ago</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" /></td>
                          <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                          <td class="mailbox-name"><a href="">Alexander Pierce</a></td>
                          <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
                          <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                          <td class="mailbox-date">28 mins ago</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" /></td>
                          <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                          <td class="mailbox-name"><a href="">Alexander Pierce</a></td>
                          <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
                          <td class="mailbox-attachment"></td>
                          <td class="mailbox-date">2 days ago</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" /></td>
                          <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                          <td class="mailbox-name"><a href="">Alexander Pierce</a></td>
                          <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
                          <td class="mailbox-attachment"></td>
                          <td class="mailbox-date">2 days ago</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" /></td>
                          <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                          <td class="mailbox-name"><a href="">Alexander Pierce</a></td>
                          <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
                          <td class="mailbox-attachment"></td>
                          <td class="mailbox-date">2 days ago</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" /></td>
                          <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                          <td class="mailbox-name"><a href="">Alexander Pierce</a></td>
                          <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
                          <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                          <td class="mailbox-date">4 days ago</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" /></td>
                          <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                          <td class="mailbox-name"><a href="">Alexander Pierce</a></td>
                          <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
                          <td class="mailbox-attachment"></td>
                          <td class="mailbox-date">12 days ago</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" /></td>
                          <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                          <td class="mailbox-name"><a href="">Alexander Pierce</a></td>
                          <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
                          <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                          <td class="mailbox-date">12 days ago</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" /></td>
                          <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                          <td class="mailbox-name"><a href="">Alexander Pierce</a></td>
                          <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
                          <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                          <td class="mailbox-date">14 days ago</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" /></td>
                          <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                          <td class="mailbox-name"><a href="">Alexander Pierce</a></td>
                          <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
                          <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                          <td class="mailbox-date">15 days ago</td>
                        </tr>
                      </tbody>
                    </table><!-- /.table -->
                  </div><!-- /.mail-box-messages -->
                </div><!-- /.box-body -->
                <div class="box-footer no-padding">
                  <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>                    
                    <div class="btn-group">
                      <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                      <button class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                      <button class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                    </div><!-- /.btn-group -->
                    <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                    <div class="pull-right">
                      1-50/200
                      <div class="btn-group">
                        <button class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                      </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                  </div>
                </div>
              </div><!-- /. box -->
            </div><!-- /.col -->
          </div> <!-- row --> 
        </section>  



        <section id="review_the_request">
          <div class="row">
          <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header with-border bg-aqua">
                  <h3 class="box-title">Rate the skills</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus text-primary"></i></button>
                    <!-- <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times text-primary"></i></button> -->
                  </div>                  
                </div>
                <div class="box-body">
                 <div class="table-responsive">
                    <table class="table no-margin">
                      <thead>
                        <tr>
                          <th>Sl.No</th>
                          <th>Criteria</th>
                          <th>Star Ratings</th>
                          <th>Rate</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Code Optimization</td>
                          <td><div id="stars1" class="starrr" style="font-size:18px;"></div></td>
                          <td><div class="sparkbar" data-color="#00a65a" data-height="20"><span id="count1">0</span> star(s)/5</div></td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Delivery Time</td>
                          <td><div id="stars2" class="starrr" style="font-size:18px;"></div></td>
                          <td><div class="sparkbar" data-color="#f39c12" data-height="20"><span id="count2">0</span> star(s)/5</div></td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>Latest Technologies Used</td>
                          <td><div id="stars3" class="starrr" style="font-size:18px;"></div></td>
                          <td><div class="sparkbar" data-color="#f56954" data-height="20"><span id="count3">0</span> star(s)/5</div></td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>Client Review</td>
                          <td><div id="stars4" class="starrr" style="font-size:18px;"></div></td>
                          <td><div class="sparkbar" data-color="#00c0ef" data-height="20"><span id="count4">0</span> star(s)/5</div></td>
                        </tr>
                      </tbody>
                      <tfoot><tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="info-box bg-warning">
                              <span class="info-box-icon"><i class="fa fa-star-o text-warning"></i></span>
                              <div class="info-box-content">
                                <span class="info-box-text">Total Ratings</span>
                                <span class="info-box-number">6/10</span>
                                <span class="progress-description">
                                  in django
                                </span>
                              </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </td></tr>
                      </tfoot>  
                    </table>
                  </div><!-- /.table-responsive -->   
                  <h4>Give a review</h4>               
                  <form role="form">
                    <div class="form-group">
                      <textarea class="form-control" rows="3" placeholder="Write your review"></textarea>
                    </div>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control" placeholder="Project Name">
                      <span class="input-group-btn">
                        <button class="btn btn-info " type="button"><i class="fa fa-check"></i> <b>Submit your review</b></button>
                      </span>
                    </div>                                        
                  </form>
                </div><!-- /.box-body -->
              </div><!-- /.box -->


            </div><!-- /.col -->
          </div>  <!-- row --> 
        </section>  

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->


<div class="clearfix"></div>


<!-- footer -->
{% endblock base_content %}

{% block extra_js %}
    <!-- STAR Rating -->
    <script src="/static/dist/js/starr.js" type="text/javascript"></script>
{% endblock extra_js %}  

{% block extra_js_definition %}
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
      $(function() {
          return $(".starrr").starrr();
      });
      $( document ).ready(function() {

        for(i=1;i<=4;i++){
          ratingChanger(i);
        }

          function ratingChanger(i){
            $('#stars'+i).on('starrr:change', function(e, value){
            $('#count'+i).html(value);
            });
          }


          var m_notification = function(){
                    $.ajax({
                      method:'get',
                      dataType:'json',
                      url:"{% url 'notifycount' %}",
                      success:function(data){
                        $("#renderNotifications").html(data.htmldata)
                        $("#notify_count1").html(data.count);
                      }
                    });
                  }
                  setInterval(m_notification,2000);

      });

    </script>
{% endblock extra_js_definition %}    

