  <li class="header" id="notify_count2">You have {{count}} notifications </li>
  <li> 
    <!-- inner menu: contains the actual data -->
     <ul class="menu">

      {% for req in review_request %}
        <li id="notification_list_li" onClick=""> 
          <a href="{% url 'getcriteria' req.skillid %}">
            <div class="pull-left">
              <img src="/static/dist/img/user1-128x128.jpg" class="img-circle" alt="User Image"/>
            </div>
            <h4 id="uname">
              {{ req.formUser }}
              <!--<small><i class="fa fa-clock-o"></i> 5 mins</small> -->
            </h4>
            <p id="review_in">ask for a review in {{ req.skill }}</p>
          </a>
        </li>
      {% endfor %}  
     </ul>

  </li>
  <li id="see_all_req" onClick="" class="footer"><a href="{% url 'getallrequests' %}">See All Requests</a></li>

