{% extends "base.html" %}
{% block titles %}Profile{% endblock %}
      {% block header_notifications %}

      <script>
          function showreqAll(){
            $("#review_the_request").hide();
            $("#request_notify").hide();
          }
        function rateMe(tcount){
          var flag = "False";
          for(i=1;i<=tcount;i++){
            if($("#hid"+i).val() == '0'){
              flag = "True";
            }
          }
          if(flag == "True"){
            alert("Please rate all the criterias first!");
          }
          else{
              info = $("#reviewform").serialize();
              $.ajax({
                  type: 'POST',
                  url: "{% url 'addreview' %}",
                  dataType:'json',
                  data: info,
                  success : function(data){
                        //$('#count'+i).html(value);
                        alert("Rated Successfully");
                        window.location = "{% url 'profile' %}"
                        //$("#close"+i).hide();
                        //$("#reviewsuccess).show();
                        for(i=1;i<=tcount;i++){
                          $("#hid"+i).val() = '0'
                        }
                  },
                  error :function(){
                      alert("Add review failed!");
                  }
              });         
          }  
        }

      </script>
              <!-- Messages: style can be found in dropdown.less-->
               <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-success" id="notify_count1"></span>
                </a>

                <ul class="dropdown-menu" id="renderNotifications"></ul>

              </li> 
      {% endblock header_notifications %}

{% block base_content %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">

      <div class="row">
          <div class="col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-xs-6">
                        <img src="/static/dist/img/user1-128x128.jpg" alt="" class="img-circle img-responsive" />
                    </div>
                    <div class="col-sm-4 col-md-4" style="padding-left:10px;border-right: 1px solid #fff;">
                        <h3><i class="fa fa-user-secret"></i> {{ fname }} {{ lname }}</h3>
                        <p class="text-info">
                            <!--<i class="fa fa-graduation-cap"></i>Jr.Software Engineer
                            <br />-->
                            <i class="fa fa-envelope"></i> {{ email }}
                            <!--<br />
                            <i class="fa fa-barcode"></i> Employee ID : #5215-->
                        </p>

                    </div>
                    <div class="col-sm-6 col-md-6 text-center" style="padding-left:20px;">
                        <BLOCKQUOTE><p class="lead text-success">"I'm looking forward to this year's reunion and catching up with everyone."</p></BLOCKQUOTE>

                      <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                      <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
                      <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                      <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                    </div>                                       
                </div>
            </div>
      </div>
    </div>

            <div class="alert alert-info alert-dismissable" id="success">
              <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
              <h4><i class="icon fa fa-hand-o-up"></i> Request!</h4>
              <div id="message"><b>{{ username }}</b> asks for a review request in his {{ mainskill }} skill <strong>{{ skillname }}</strong>.</div>
            </div>




<!-- Main content -->

        <section id="review_the_request">
          <div class="row">
          <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header with-border bg-aqua">
                  <h3 class="box-title">Rate the skills</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus text-primary"></i></button>
                    <!-- <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times text-primary"></i></button> -->
                  </div>                  
                </div>
                <div class="box-body">
                 <div class="table-responsive">
                    <table class="table no-margin">
                      <thead>
                        <tr>
                          <th>Sl.No</th>
                          <th>Criteria</th>
                          <th>Star Ratings</th>
                          <th>Rate</th>
                        </tr>
                      </thead>
                      <tbody>
                        <form role="form" id="reviewform" name="reviewform" method="get" action="">{% csrf_token %}
                {% for skill_criteria in criterias %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ skill_criteria.mcriteria }}</td>
                          <input type="hidden" value="0" name="hnm{{ forloop.counter }}" id="hid{{ forloop.counter }}">
                          <input type="hidden" value="0" name="cid{{ forloop.counter }}" id="cid{{ forloop.counter }}">
                          <td><div id="stars{{ forloop.counter }}" class="starrr" style="font-size:18px;" data-cid="{{ skill_criteria.mcriteriaid }}" data-flag="0"></div></td>
                          <td><div class="sparkbar" data-color="#00a65a" data-height="20"><span id="count{{ forloop.counter }}">0</span> star(s)/5 <i class="fa fa-check-circle text-info" id="tick{{ forloop.counter }}"></i><i class="fa fa-times text-warning" id="close{{ forloop.counter }}"></i></div></td>
                        </tr>
                {% endfor %}

                      </tbody>
                      <tfoot><tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="info-box bg-warning">
                              <span class="info-box-icon"><i class="fa fa-star-o text-warning"></i></span>
                              <div class="info-box-content">
                                <span class="info-box-text">Total Ratings</span>
                                <span class="info-box-number">0/10</span>
                                <span class="progress-description">
                                  in {{ skillname }}

                                </span>
                              </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </td></tr>
                      </tfoot>  
                    </table>
                  </div><!-- /.table-responsive -->


                  <div class="alert alert-success" id="reviewsuccess" style="display:none;">
                   <i class="icon fa fa-check"></i>Review Successfully!
                  </div>


                  <h4>Give a review</h4>               
                  <!-- <form role="form"> -->
                    <div class="form-group">
                      <textarea class="form-control" rows="3" placeholder="Write your review" name="comment"></textarea>
                    </div>
                    <input type="hidden" value="{{ totalcriteria }}" name="tcriteria" id="tcriteria">
                    <input type="hidden" value="{{ userskillid }}" name="uskid" id="uskid">
                    <input type="hidden" value="0" name="avgstarrate" id="avgstarrate">
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control" placeholder="Project Name" name="projectname">
                      <span class="input-group-btn">
                        <button class="btn btn-info " type="button" onclick="rateMe({{ totalcriteria }})"><i class="fa fa-check"></i> <b>Submit your review</b></button>
                      </span>
                    </div>                                        
                  </form>
                </div><!-- /.box-body -->
              </div><!-- /.box -->


            </div><!-- /.col -->
          </div>  <!-- row --> 
        </section>  

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->


<div class="clearfix"></div>


<!-- footer -->
{% endblock base_content %}
{% block extra_js %}
    <!-- STAR Rating -->
    <script src="/static/dist/js/starr.js" type="text/javascript"></script>
{% endblock extra_js %}  

{% block extra_js_definition %}
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
      $(function() {
          return $(".starrr").starrr();
      });
      $( document ).ready(function() {

        for(i=1;i<={{ totalcriteria }};i++){
          $("#tick"+i).hide();
          ratingChanger(i);
        }   

        //$("#all_requests").hide();
        
        function ratingChanger(i){
          total = 0;
          sum = 0;
          $('#stars'+i).on('starrr:change', function(e, value){
                      //var aa = $('#stars'+i).data("flag");
                      //console.log(aa);
                      if(isNaN(value)){
                        value = 0;
                      }
                      //alert(value);
                      var cid = $('#stars'+i).data("cid");
                      $('#stars'+i).data('flag', '1');
                      $('#count'+i).html(value);
                      $('#hid'+i).val(value);
                      $('#cid'+i).val(cid);
                      //alert("cid"+cid);
                      var tcount = {{ totalcriteria }}
                      t = parseInt(total);
                      v = parseInt(value);
                      s = 0
                      for(j=1;j<=tcount;j++){
                        s += parseInt($('#hid'+j).val());
                      }
                      // alert(s);
                      var sum = ((s)*10/(5*tcount)).toFixed(1);
                      //alert(sum)
                      total = total+v;
                      $(".info-box-number").html(sum+"/10");
                      $("#avgstarrate").val(sum);
                      $("#close"+i).hide();
                      $("#tick"+i).show();
                      //alert(sum+"/10");

                      //alert(value+" {{ user.id }} "+ cid + " {{ userskillid }}");
                      //write ajax code here for inserting the criteria rate into the model ManagerCriteriaRaing
                      //here we can get userskillid,each criteria id,manager id

          });
        }

          var m_notification = function(){
                    $.ajax({
                      method:'get',
                      dataType:'json',
                      url:"{% url 'notifycount' %}",
                      success:function(data){
                        $("#renderNotifications").html(data.htmldata)
                        $("#notify_count1").html(data.count);
                      }
                    });
                  }
                  setInterval(m_notification,2000);

      });

    </script>
{% endblock extra_js_definition %}    

